services:
  - type: web
    name: ecommerce-api
    env: docker
    rootDir: backend
    dockerfilePath: Dockerfile
    healthCheckPath: /health
    envVars:
      - key: DATABASE_URL
        sync: false
      - key: STRIPE_SECRET_KEY
        sync: false
      - key: CORS_ORIGINS
        value: "*"

  - type: static
    name: ecommerce-ui
    rootDir: frontend
    buildCommand: npm install && npm run build
    staticPublishPath: dist
    envVars:
      - key: CORS_ORIGINS
     value: "https://ecommerce-ui-5hvm.onrender.com"

